ErrorDocument 404 /404.html
RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule (.*)/?$ /$1.html [L]
<FilesMatch ".(ico|pdf|flv|jpg|webp|woff2|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=604800, public
</filesMatch>
